[build]
  command = "npm run build"
  publish = ".next"
  
[build.environment]
  NODE_VERSION = "18.17.0"
  NPM_VERSION = "10.2.4"
  NEXT_TELEMETRY_DISABLED = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"


[dev]
  command = "npm run dev"
  port = 3000
  targetPort = 3000
  autoLaunch = true
